
.retangulo-cinza {
   position: relative;
   width: auto;
   height: 30em;
   background: rgb(233, 232, 231);
   top: 10em;
  }
  
.linha-azul {
   position: relative;
   width: auto;
   height: 0.5em;
   background: rgb(54, 65, 126);
  }

.img-capa{
   position: absolute;
   display: flex;
   justify-content: center;
   width: 100em;
   height: 30em;
   top: 10.5em;
  }

.img-logo{
   position: absolute;
   left: 10em;
   top: 3em;
  }
  
.links{
   position: absolute;
   top: 3em;
   right: 10em;
  }

.home{
    position: absolute;
    left: 10em;
    top: 45em;
    right: 10em;
    text-align: justify;
  }

.line{
    text-align: center;
  }

.quemsomos1{
    position: absolute;
    left: 10em;
    top: 10em;
    right: 6em;
    text-align: justify;
}

.quemsomos2{
    position: absolute;
    left: 10em;
    top: 22em;
    right: 6em;
    text-align: justify;
}

.quemsomos3{
    position: absolute;
    left: 10em;
    top: 34em;
    right: 6em;
    text-align: justify;
}

hr{
    position: relative;
    width: 78em;
}

.contato{
  position: absolute;
  top: 10em;
  left: 10em;
}
.users{
  position: relative;
  left: 10em;
  top: 10em;
  right: 6em;
  
}
table{
  text-align: center;
  font-size: large;
}

header{
  position: relative;
  left: 10em;
  top: 10em;
}