
.retangulo-cinza {
   position: relative;
   width: auto;
   height: auto;
   background: rgb(233, 232, 231);
   top: 10em;
  }
  
.linha-azul {
   position: relative;
   width: auto;
   height: 0.5em;
   background: rgb(54, 65, 126);
  }

.img-capa{
   position: relative;
   display: flex;
   justify-content: center;
  }

  @media (max-width: 576px) {
    .img-capa img {
        max-width: 100%;
        height: auto;
        
    }
  }

.img-logo{
   position: absolute;
   left: 10em;
   top: 3em;
  }
  
.links{
   position: absolute;
   top: 3em;
   right: 5em;
  }



footer{
    text-align: center;
  }

.quemsomos1{
    position: absolute;
    
    top: 10em;
    right: 6em;
    text-align: justify;
}

hr{
    position: relative;
    width: 78em;
}

.contato{
  position: absolute;
  top: 10em;
  left: 10em;
}
.users{
  position: relative;
  left: 10em;
  top: 10em;
  right: 6em;
  
}
table{
  text-align: center;
  font-size: large;
}

header{
  position: relative;
  left: 10em;
  top: 10em;
}
.container{
  text-align: justify;
}
section{
  margin-top: 10em;
}

