{% extends "base.html" %}

{% block conteudo %}

<head>
    <title>CONTATO</title>
</head>
<form action="/meuprojeto/app.py" method="POST">

    <!-- <div class="contato">
        <h1>Entre em contato</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto maxime rerum velit. Cupiditate laborum voluptate error corporis impedit aperiam.</p>
        <hr>
        <p>Seu e-mail:</p>
        <input type="email">
        <p>Assunto:</p>
        <input type="assunto">
        <p>Descrição:</p>
        <input type="descricao"> 
        <br><br>
        <input type="submit" value="Enviar">
        <div class="line"><h3>Todos os direitos reservados</h3></div> 
    </div> -->


<label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" value="John"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">


</form>

{% endblock %} 