{% extends "base.html" %}
{% block conteudo %}
<header>
<table border="1"  width="500"  >
<tr> 
    <th >E-mail </th>
    <th width="100">Assunto</th>
    <th width="100">Descrição</th>
</tr>
</table>
</header>
{% for user in userDetails %} 

<div class="users">
    

    <table border="1" width="500">
        
        <tr>
            <td>{{user[0]}}</td>
            <td width="100">{{user[1]}}</td>
            <td width="100">{{user[2]}}</td>
        </tr>
       
    </table>
    
</div>

{% endfor %}
{% endblock %}  